{
	log {
		output file {$CADDY_LOG_DIR:/var/log/caddy}/runtime.log {
			roll_size 20MiB
			roll_keep 10
			roll_keep_for 720h
		}
		format json
		level INFO
	}
}

(proxy_to_n8n) {
	request_body {
		max_size {$MAX_BODY_SIZE}
	}

	reverse_proxy {$N8N_UPSTREAM_URL} {
		header_up Host {$N8N_UPSTREAM_HOST:{upstream_hostport}}
		header_up X-Forwarded-Proto https

		transport http {
			versions 1.1
			tls_server_name {$N8N_UPSTREAM_TLS_SERVER_NAME}
		}
	}
}

{$CADDY_SITE_ADDRESS} {
	encode zstd gzip

	log {
		output file {$CADDY_LOG_DIR:/var/log/caddy}/access.log {
			roll_size 100MiB
			roll_keep 30
			roll_keep_for 720h
		}
		format json
	}

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
		-Server
	}

	@n8n_webhooks {
		method {$WEBHOOK_METHODS}
		path {$WEBHOOK_PATHS}
		remote_ip {$ALLOWED_SOURCE_CIDRS}
	}

	@n8n_forms {
		method {$FORM_METHODS}
		path {$FORM_PATHS}
		remote_ip {$ALLOWED_SOURCE_CIDRS}
	}

	route {
		handle /healthz {
			respond "ok\n" 200
		}

		handle @n8n_webhooks {
			import proxy_to_n8n
		}

		handle @n8n_forms {
			import proxy_to_n8n
		}

		respond 404
	}
}
